.pli-container {
  flex-shrink: 0;
  padding: 10px;
  width: 100%;
  color: #23223f;
}

.pli-wrapper {
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(35, 34, 63, 0.5);
  animation: 1s appear forwards;
  opacity: 0;
}

.pli-thumb-container {

}

.pli-thumb {
  display: block;
  width: 100%;
}

.pli-title {
  margin: 0 0 10px;
  font-size: 1.1rem;
  font-weight: 400;
}

.pli-lead {
  margin: 0 0 10px;
}

.pli-info {

  padding: 10px;
  background-image: linear-gradient(#f1f1f1, #fff);
}

.pli-techs {
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: red;
}

.pli-date {
  font-size: 0.8rem;
  color: red;
}

@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
