.pli-container {
  flex-shrink: 0;
  padding: 10px;
  width: 100%;
  color: #23223f;
}

.pli-wrapper {
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
  /*background-color: #fff;*/
  box-shadow: 0 0 2px 0 rgba(35, 34, 63, 0.5);
  opacity: 0;
  animation: 1s appear forwards;
}

.pli-thumb-container {

}

.pli-thumb {
  display: block;
  width: 100%;
}

.pli-title {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 1.1rem;
}

.pli-lead {
  margin: 0 0 10px;
}

.pli-info {

  padding: 10px;
  background-image: linear-gradient(#f1f1f1, #fff);
}

.pli-techs {
  margin-bottom: 10px;
  color: red;
  font-size: 0.8rem;
}

.pli-date {
  color: red;
  font-size: 0.8rem;
}
