.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contacts-container {
  /*display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;*/
}

.contacts-link {
  display: block;
  color: #6e7daf;
  text-decoration: none;
  opacity: 0;
  transition: .3s;
  animation: 1s appear forwards;
}

.contacts-link:hover {
  color: #fff;
}

.contacts-link:not(:last-child) {
  margin-bottom: 10px;
}

.contacts-icon {
  margin-right: 10px;
  font-size: 1.5rem;
}

.contacts-link-text {
  position: relative;
  top: -3px;
}

.contacts-link:nth-child(1) {
  animation-delay: .1s;
}

.contacts-link:nth-child(2) {
  animation-delay: .2s;
}

.contacts-link:nth-child(3) {
  animation-delay: .3s;
}

.contacts-link:nth-child(4) {
  animation-delay: .4s;
}

.contacts-link:nth-child(5) {
  animation-delay: .5s;
}

.contacts-link:nth-child(6) {
  animation-delay: .6s;
}

.contacts-link:nth-child(7) {
  animation-delay: .7s;
}
