.portfolio {

}

.portfolio-filters {
  position: fixed;
  display: flex;
  flex-shrink: 0;
  flex-flow: column;
  align-items: flex-start;
  padding: 20px;
  width: 200px;
  height: 100vh;
}

.pfb {
  color: #6e7daf;
  margin-bottom: 20px;
  transition: .3s;
  text-decoration: none;
}

.pfb-active {
  color: #fff;
  margin-bottom: 20px;
  transition: .3s;
  text-decoration: none;
}
