.menu-link {
  margin-bottom: 10px;
  color: #6e7daf;
  text-decoration: none;
  transition: .3s;
}

.menu-link:hover {
  color: #fff;
}

.menu-link.active {
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
  transition: .3s;
}
