.filters-list {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 101;
  width: 200px;
  height: 100%;
  transition: transform .3s;
  /* background-color: #282E58; */
  transform: translateX(0);
}

.filters-list.open {
  transform: translateX(0);
}

.filters-overlay {
  position: absolute;
  top: 0;
  right: -100vw;
  z-index: 101;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #1f2341;
  opacity: 0;
  transition: opacity 0.3s;
}

.filters-links {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 20px;
}

.filters-overlay.open {
  display: none;
}

.filters-overlay.visible {
  opacity: 0.9;
}

.filters-icon-container {
  position: absolute;
  top: 0;
  right: -45px;
  z-index: 102;
  display: flex;
  display: none;
  align-items: center;
  height: 60px;
}

.filters-button {
  display: block;
  margin: 0;
  padding: 0;
  height: auto;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: #6e7daf;
  font-size: 1.8rem;
  transition: 0.3s;
}

.filters-button:hover {
  color: #fff;
}

.filters-button:active, .filters-button:focus {
  outline: none;
}

@media (max-width: 600px) {
  .filters-list {
    top: 0;
    width: 240px;
    background-color: #282E58;
    transform: translateX(-240px);
  }

  .filters-icon-container {
    display: flex;
  }

  .filters-overlay.open {
    display: block;
  }
}
