.navigation {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 102;
  width: 240px;
  height: 100%;
  background-color: #282E58;
  transition: transform .3s;
  transform: translateX(240px);
}

.navigation.open {
  transform: translateX(0);
}

.navigation-links {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 20px;
}

.navigation-overlay {
  position: absolute;
  top: 0;
  left: -100vw;
  z-index: 101;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #1f2341;
  opacity: 0;
  transition: opacity 0.3s;
}

.navigation-overlay.open {
  display: block;
}

.navigation-overlay.visible {
  opacity: 0.9;
}

.bars-container {
  position: absolute;
  top: 0;
  left: -45px;
  z-index: 102;
  display: flex;
  align-items: center;
  height: 60px;
}

.bars-button {
  display: block;
  margin: 0;
  padding: 0;
  height: auto;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: #6e7daf;
  font-size: 1.8rem;
  transition: 0.3s;
}

.bars-button:hover {
  color: #fff;
}

.bars-button:active, .bars-button:focus {
  outline: none;
}
