.about {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-photo {
  width: 250px;
  height: 250px;
  border: 1px solid #6e7daf;
  border-radius: 50%;
  flex-shrink: 0;
}

.about-text {
  max-width: 300px;
  color: #6e7daf;
}

.about-separator {
  height: 150px;
  width: 1px;
  background-color: #6e7daf;
  margin: 0 80px;
  opacity: .5;
}
