.about {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.about-photo {
  flex-shrink: 0;
  width: 250px;
  height: 250px;
  border: 1px solid #6e7daf;
  border-radius: 50%;
}

.about-text {
  max-width: 300px;
  color: #6e7daf;
}

.about-separator {
  margin: 0 80px;
  width: 1px;
  height: 150px;
  background-color: #6e7daf;
  opacity: .5;
}

@media (max-width: 1024px) {
  .about-container {
    flex-flow: column;
  }

  .about-separator {
    margin: 40px 0;
    width: 200px;
    height: 1px;
  }
}
