.home-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
}

.home-logo-container {
  padding: 20px;
  max-width: 300px;
  width: 80%;
  opacity: 0;
  animation: 1s appear forwards;
}

.home-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.home-link {
  margin: 0 10px;
  color: #8496d1;
  text-decoration: none;
  opacity: 0;
  transition: 0.3s;
}

.home-link:hover {
  color: #fff;
}

.home-link:nth-child(1) {
  animation: 1s appear forwards;
  animation-delay: 0.1s;
}

.home-link:nth-child(2) {
  animation: 1s appear forwards;
  animation-delay: 0.2s;
}

.home-link:nth-child(3) {
  animation: 1s appear forwards;
  animation-delay: 0.3s;
}

@media (max-width: 350px) {
  .home-navigation {
    flex-flow: column;
  }

  .home-link:not(:last-child) {
    margin-bottom: 10px;
  }
}
