* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2e386b;
  color: #fff;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  transition: transform .3s;
}

body.details-open {
  overflow: hidden;
}

body.navigation-open {
  overflow: hidden;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity .4s;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity .4s;
}

/*.fade-appear {
  opacity: 0.01;
}

.fade-appear.modal-fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}*/

@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
